<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Acceso a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- Ver la red -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Verservidores">

        <activity android:name=".vista.PerfilPublicoActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.EditarPerfilActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.PerfilActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.DiscordActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.EpicActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.NintendoActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.CloudflareActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.GithubActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.GoogleCloudActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.ConfigActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".vista.RegistroActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".vista.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>